
/* Your CSS Code here. */
.box{
	 display: flex;              /* Enables flexbox */
  flex-direction: row;        /* Places items in a row (default) */
  justify-content: space-between; /* Evenly distributes items */
  flex-wrap: wrap; 
	order: green red blue;
}
.red{
	background-color:red;
	width:100px;
	height:100px;
}
.blue{
	background-color:blue;
	width:100px;
	height:100px;
}
.green{
	background-color:green;
	width:100px;
	height:100px;
}