
/* Your CSS Code here. */
.holder{
	 display: flex;           
  flex-direction: row;       
  justify-content: space-between; 
  flex-wrap: wrap; 
	
}
.red{
	background-color:red;
	width:100px;
	height:100px;
}
.blue{
	background-color:blue;
	width:100px;
	height:100px;
}
.green{
	background-color:green;
	width:100px;
	height:100px;
}